* {
  font-family: 'Poppins';
  /* color: #198754; */
  color: #146c43;
}

#first {
  height: calc(100vh - 50px);
  overflow-y: auto;
}

.shadow-custom {
  box-shadow: 5px 5px 0px 0px #33333388;
}

.titulo {
  font-size: 28px;
}

label {
  font-size: larger;
  margin: 0;
}

input {
  max-width: 50px;
  text-align: center;
}

input:focus {
  border-color: #198754 !important;
  outline: none !important;
  box-shadow: none !important;
}

.form-control {
  width: auto;
}

input#qtdRound,
input#qtdNum {
  max-width: 100px;
}

.form-check-input:checked {
  border-color: #198754 !important;
  background-color: #198754 !important;
}

.form-check-input:focus {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

#visibleLuck .d-flex {
  border: 1px solid;
  border-radius: 5px;
  background-color: #19875455;
}

#result .d-flex {
  border-bottom: 1px solid;
}

#result p {
  width: 25px;
  margin: 0;
  text-align: center;
}

#result p:not(.clear).plus {
  border-radius: 50%;
  background-color: #19875455;
}

.spin::before {
  animation: spin 1s infinite ease;
}

#viewers {
  max-width: 100px;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}