body {
    font-family: Verdana;
    color: green;
    background-color: #27ae60;
}

input {
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ced4da;
    width: 50px;
    height: 30px;
    line-height: 1.5;
}

#luck {
    height: 24px;
}

.border {
    width: 350px;
    margin-top: 5vh;
    padding: 10px 0 25px 0;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.1);
}

.titulo {
    font-size: 2em;
}

.resultado {
    text-align: center;
}